<div class="container-fluid">
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">按钮</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="tpadded">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Button</th>
                  <th>class=""</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><button type="button" class="btn">Default</button></td>
                  <td><code>btn</code></td>
                  <td>标准默认Bootstrap按钮。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-primary">Primary</button></td>
                  <td><code>btn btn-primary</code> 或 <code>btn btn-blue</code></td>
                  <td>提高视觉和识别的主要动作按钮。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-info">Info</button></td>
                  <td><code>btn btn-info</code> 或 <code>btn btn-cyan</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-success">Success</button></td>
                  <td><code>btn btn-success</code> 或 <code>btn btn-green</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-warning">Warning</button></td>
                  <td><code>btn btn-warning</code> 或 <code>btn btn-orange</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-danger">Danger</button></td>
                  <td><code>btn btn-danger</code> 或 <code>btn btn-red</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-inverse">Inverse</button></td>
                  <td><code>btn btn-inverse</code> 或 <code>btn btn-black</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-pink">Pink</button></td>
                  <td><code>btn btn-pink</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-link">Link</button></td>
                  <td><code>btn btn-link</code></td>
                  <td>可用作primary的一个替代。</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">按钮大小</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-size">
            <p>Bootstrap一共提供了4种大小的按钮。</p>
            <div class="page-header">
              <h2>默认按钮大小示例</h2>
            </div>
            <div class="example">
              <button type="button" class="btn btn-large">Large button</button>
              <button type="button" class="btn btn">Default button</button>
              <button type="button" class="btn btn-small">Small button</button>
              <button type="button" class="btn btn-mini">Mini button</button>
            </div>
            <h4>默认按钮大小HTML代码</h4>
<pre class="prettyprint linenums">
&lt;button class="btn btn-large" type="button"&gt;Large button&lt;/button&gt;
&lt;button class="btn" type="button"&gt;Default button&lt;/button&gt;
&lt;button class="btn btn-small" type="button"&gt;Small button&lt;/button&gt;
&lt;button class="btn btn-mini" type="button"&gt;Mini button&lt;/button&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">块级按钮</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-block">
            <p>块级按钮跨度整个父容器的宽度，只需要给按钮的 <code>class</code> 加上 <code>btn-block</code> 。</p>
            <div class="page-header">
              <h2>默认块级按钮示例</h2>
            </div>
            <div class="example">
              <div class="well">
                <button type="button" class="btn btn-large btn-block btn-primary">Block level button</button>
                <button type="button" class="btn btn-large btn-block">Block level button</button>
              </div>
            </div>
            <h4>默认块级按钮HTML代码</h4>
<pre class="prettyprint linenums">
&lt;button class="btn btn-large btn-block btn-primary" type="button"&gt;Block level button&lt;/button&gt;
&lt;button class="btn btn-large btn-block" type="button"&gt;Block level button&lt;/button&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">Disabled按钮</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-block">
            <p>如果要使按钮不可用，只需要给按钮的 <code>class</code> 加上 <code>disabled</code> 就可以了。</p>
            <div class="page-header">
              <h2>不可用按钮示例</h2>
            </div>
            <div class="example">
              <button class="btn disabled">Silver</button>
      				<button class="btn btn-blue disabled">Blue</button>
      				<button class="btn btn-orange disabled">Orange</button>
      				<button class="btn btn-green disabled">Green</button>
      				<button class="btn btn-cyan disabled">Cyan</button>
      				<button class="btn btn-red disabled">Red</button>
      				<button class="btn btn-black disabled">Black</button>
      				<button class="btn btn-pink disabled">Pink</button>
            </div>
            <h4>不可用按钮HTML代码</h4>
<pre class="prettyprint linenums">
&lt;button class="btn disabled" type="button"&gt;Silver&lt;/button&gt;
&lt;button class="btn btn-blue disabled" type="button"&gt;Blue&lt;/button&gt;
&lt;button class="btn btn-orange disabled" type="button"&gt;Orange&lt;/button&gt;
&lt;button class="btn btn-green disabled" type="button"&gt;Green&lt;/button&gt;
&lt;button class="btn btn-cyan disabled" type="button"&gt;Cyan&lt;/button&gt;
&lt;button class="btn btn-red disabled" type="button"&gt;Red&lt;/button&gt;
&lt;button class="btn btn-black disabled" type="button"&gt;Black&lt;/button&gt;
&lt;button class="btn btn-pink disabled" type="button"&gt;Pink&lt;/button&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">按钮组</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-block">
            <div class="page-header">
              <h2>按钮组示例</h2>
            </div>
            <p>用 <code>.btn-group</code> 来包装所有的 <code>.btn</code> 按钮或者 <code>a</code> 标签。</p>
            <div class="example">
              <div class="btn-group">
                <button class="btn">Left</button>
                <button class="btn">Middle</button>
                <button class="btn">Right</button>
              </div>
            </div>
            <h4>按钮组HTML代码</h4>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;button class="btn"&gt;Left&lt;/button&gt;
  &lt;button class="btn"&gt;Middle&lt;/button&gt;
  &lt;button class="btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;
</pre>

            <div class="page-header">
              <h2>多个按钮组示例</h2>
            </div>
            <p>用 <code>&lt;div class="btn-group"&gt;</code> 和 <code>&lt;div class="btn-toolbar"&gt;</code> 来组合更复杂的组件。</p>
            <div class="example">
              <div class="btn-toolbar">
  							<div class="btn-group">
  								<button class="btn">1</button>
  								<button class="btn">2</button>
  							</div>
  							<div class="btn-group">
  								<button class="btn">3</button>
  								<button class="btn">4</button>
  								<button class="btn">5</button>
  							</div>
  							<div class="btn-group">
  								<button class="btn">6</button>
  							</div>
  						</div>
            </div>
            <h4>多个按钮组HTML代码</h4>
<pre class="prettyprint linenums">
&lt;div class="btn-toolbar"&gt;
  &lt;div class="btn-group"&gt;
    ...
  &lt;/div&gt;
  ...
&lt;/div&gt;
</pre>

            <div class="page-header">
              <h2>垂直按钮组示例</h2>
            </div>
            <p>用 <code>.btn-group-vertical</code> 来让按钮组变成垂直排列。</p>
            <div class="example">
              <div class="btn-group btn-group-vertical">
  							<button type="button" class="btn"><i class="icon-align-left"></i></button>
  							<button type="button" class="btn"><i class="icon-align-center"></i></button>
  							<button type="button" class="btn"><i class="icon-align-right"></i></button>
  							<button type="button" class="btn"><i class="icon-align-justify"></i></button>
  						</div>
            </div>
            <h4>垂直按钮组HTML代码</h4>
<pre class="prettyprint linenums">
&lt;div class="btn-group btn-group-vertical"&gt;
  ...
&lt;/div&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">下拉按钮</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-size">
            <div class="page-header">
              <h2>下拉按钮示例</h2>
            </div>
            <p>把任意的按钮放在 <code>.btn-group</code> 中就可以变成一个下拉按钮，详细看下面代码。</p>
            <div class="example">
              <div class="btn-toolbar" style="margin: 0">
      					<div class="btn-group">
      						<button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    Danger <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Warning <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Success <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Info <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    Inverse <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->
					
      					<div class="btn-group">
      						<button class="btn btn-pink dropdown-toggle" data-toggle="dropdown">
                    Pink <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->
      				</div>
      				<!-- / .btn-toolbar -->
            </div>
            <h4>下拉按钮HTML代码</h4>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn dropdown-toggle" data-toggle="dropdown" href="#"&gt;
    Action
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/a&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;!-- dropdown menu links --&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        
        <div class="box-header">
          <i class="icon-th"></i>
          <span class="title">分割下拉按钮</span>
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" data-toggle="shrink"><i class="icon-caret-up"></i></a>
            </div>
          </div>
        </div>
        
        <div class="box-content">
          <div class="hpadded20 button-split-group">
            <div class="page-header">
              <h2>分割下拉按钮示例</h2>
            </div>
            <p>把任意的按钮放在 <code>.btn-group</code> 中就可以变成一个下拉按钮，详细看下面代码。</p>
            <div class="example">
              <div class="btn-toolbar">
      					<div class="btn-group">
      						<button class="btn">Action</button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-blue">Action</button>
                  <button class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-danger">Action</button>
                  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-warning">Action</button>
                  <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-success">Action</button>
                  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-info">Action</button>
                  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->

      					<div class="btn-group">
      						<button class="btn btn-inverse">Action</button>
                  <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->
					
      					<div class="btn-group">
      						<button class="btn btn-pink">Action</button>
                  <button class="btn btn-pink dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
      						<ul class="dropdown-menu">
      							<li><a href="#">Action</a></li>
      							<li><a href="#">Another action</a></li>
      							<li><a href="#">Something else here</a></li>
      							<li class="divider"></li>
      							<li><a href="#">Separated link</a></li>
      						</ul>
      					</div>
      					<!-- / .btn-group -->
      				</div>
      				<!-- / .btn-toolbar -->
            </div>
            <h4>分割下拉按钮HTML代码</h4>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;button class="btn"&gt;Action&lt;/button&gt;
  &lt;button class="btn dropdown-toggle" data-toggle="dropdown"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;!-- dropdown menu links --&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
